<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Form Print</title>

</head>

<body>

    <div class="container">
        <div class="row" id="root">
            <div class="col-md-5 col-12">
                <h1 class="text-center">Employee Form</h1>
                <form id="employee-form" method="POST" @submit.prevent="preventSubmit">
                    <div class="form-row">
                        <div class="col-sm-6 col-12">
                            <div class="form-group">
                                <label for="first-name">First Name</label>
                                <input class="form-control" placeholder="Enter first name" type="text" name="first-name"
                                    v-model="firstName">
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="form-group">
                                <label for="last-name">Last Name</label>
                                <input class="form-control" placeholder="Enter last name" type="text" name="last-name"
                                    v-model="lastName">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-6 col-12">
                            <div class="form-group">
                                <label for="employee-code">Employee Code</label>
                                <input class="form-control" placeholder="Enter employee code" type="text"
                                    name="employee-code" v-model="employeeCode">
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="form-group">
                                <label for="dob">Date of Birth</label>
                                <input class="form-control" type="date" name="dob" v-model="dob">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="designation">Designation</label>
                                <select class="form-control" name="designation" v-model="designation">
                                    <option value="">select</option>
                                    <option value="Software Engineer">Software Engineer</option>
                                    <option value="Web Developer">Web Developer</option>
                                    <option value="Full Stack Developer">Full Stack Developer</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <input type="submit" value="Add Employee" @click="addEmployee" class="btn btn-primary"
                                    id="btn-save">
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-md-7 col-12">
                <h1 class="text-center">Empoyee Details</h1>
                <div class="table-responsive">
                    <table class="table table-bordered" id="employee-table">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Employee Code</th>
                                <th>Date Of Birth</th>
                                <th>Desigination</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(employee,index) in employees"
                                @click="rowSelect(index,employee.fname,employee.lname,employee.id,employee.dob,employee.designation)">
                                <td v-text='employee.fname'></td>
                                <td v-text='employee.lname'></td>
                                <td v-text='employee.id'></td>
                                <td v-text='employee.dob'></td>
                                <td v-text='employee.designation'></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <script defer src="js/main.js"></script>
</body>

</html>